<div class="panel panel-primary">
  <div class="panel-heading">
    {{pageTitle}}
  </div>
  <div class='panel-body'>
    <div class='row'>
      <div class='col-md-2'>Min No. Bedrooms::</div>
      <div class='col-md-4'>
        <select [(ngModel)]='listFilter' class="form-control">
          <option value="1">1 or more beds</option>
          <option value="2">2 or more beds</option>
          <option value="3">3 or more beds</option>
          <option value="4">4 or more beds</option>
        </select>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        <h3>Available Properties</h3>
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table'
             *ngIf='properties && properties.length'>
        <thead>
        <tr>
          <th>
            <button class='btn btn-primary'
              (click)='toggleImage()'>
              {{showImage ? 'Hide' : 'Show'}} Image
            </button>
          </th>
          <th>Property</th>
          <th>No.Bedrooms</th>
          <th>Available</th>
          <th>Rental Price</th>
          <th>5 Star Rating</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let property of filteredProperties">
          <td>
            <img *ngIf='showImage'
                 [src]='property.imageUrl'
                 [title]='property.productName'
                 [style.width.px]='imageWidth'
                 [style.margin.px]='imageMargin'
            >
          </td>
          <td>{{property.propertyDesc}}</td>
          <td>{{property.noBedrooms}}</td>
          <td>{{property.availableDate}}</td>
          <td>{{property.rentalPrice | currency:'GBP':true:'1.2-2'}} {{property.priceFreq}}</td>
          <td>{{property.starRating}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
